.App {
    font-family: 'Roboto', sans-serif;
    background-color: #0ac789;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

p {
    margin: 0;
}

#editor-container {
    width: 500px;
    margin-top: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#preview-container {
    width: 800px; 
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#preview {
    padding-left: .75rem;
}

.box-header {
    height: 25px;
    width: 100%;
    background-color: #73ddba;
    text-align: center;
    margin: 0;
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 800px) {
    #preview-container {
        width: 90%;
    }
    #editor-container {
        width: 90%;
    }
}